@page
@model dotnetcoresample.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}
 
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Var1: @Model.Var1</p>
    <p>Var2: @Model.Var2</p>
</div>